<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="product/layout :: head"></head>
<body>
<nav th:replace="product/layout :: header"></nav>
<div class="container main-content list">
		<div th:if="${success}"
			class="row alert alert-success alert-dismissible">
			<button type="button" class="close" data-dismiss="alert"
				aria-label="Close">
				<span aria-hidden="true">×</span>
			</button>
			<span th:text="${success}" ></span>
		</div>
		<div class="row">
			<a th:href="@{/product/add}" class="btn btn-success pull-left">
				<span class="glyphicon glyphicon-plus"></span> Add new product
			</a>
			<form class="form-inline pull-right" action="#"
				 method="GET">
				<div class="form-group">
					<input type="text" class="form-control" name="s"
						placeholder="Type employee name..." />
				</div>
				<button type="submit" class="btn btn-primary">Search</button>
			</form>
		</div>
		<th:block th:if="${#lists.isEmpty(productList)}">
			<h3>No Product</h3>
		</th:block>

		<th:block th:unless="${#lists.isEmpty(productList)}">
			<div class="row">
				<table class="table table-bordered table-hover">
					<thead>
						<tr>
							<th>Code</th>
							<th>Name</th>
							<th>Price</th>
							<th>Image</th>
							<th>createDate</th>
							<th>Edit</th>
							<th>Delete</th>
						</tr>
					</thead>
					<tbody>
						<tr  th:each="contact : ${productList}">
							<td th:text="${contact.code}"></td>
							<td th:text="${contact.name}"></td>
							<td th:text="${contact.price}"></td>
							<td th:text="${contact.image}"></td>
							<td th:text="${contact.createDate}"></td>
							<td><a><span
									class="glyphicon glyphicon-pencil"></span></a></td>
							<td><a><span
									class="glyphicon glyphicon-trash"></span></a></td>
						</tr>
					</tbody>
				</table>
			</div>
		</th:block>
	</div>
	<!-- /.container -->

	<footer th:replace="product/layout :: footer"></footer>
</body>
</html>