<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="product/layout :: head"></head>
<body>
    <nav th:replace="product/layout :: header"></nav>

    <div class="container main-content form">
        <div class="row">
          <form action="#" 
		    method="POST" novalidate="novalidate">
		    <input type="hidden" />
		    <div class="form-group">
		        <label>Name</label> 
		        <input type="text" class="form-control" 
		            /> 
		    </div>
		    <div class="form-group">
		        <label>Price</label> 
		        <input type="text" class="form-control"  />
		    </div>
		    <div class="form-group">
		        <label>Image</label> 
		        <input type="text" class="form-control"   />
		    </div>
		    <div class="form-group">
		        <label>createDate</label> 
		        <input type="date" class="form-control"   />
		    </div>
		    <button type="submit" class="btn btn-primary">Save</button>
		</form>
        </div>
    </div><!-- /.container -->

    <footer th:replace="product/layout :: footer"></footer>
</body>
</html>